<?xml version="1.0" encoding="UTF-8" ?>

<!--
  针对应用的意见
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WT_DISCUSS">
  <!-- 对象定义:用户意见 -->
  <resultMap id="discussMap" type="Discuss">
    <id      column="id"            property="id"            jdbcType="VARCHAR"/>
    <result  column="userId"        property="userId"        jdbcType="VARCHAR"/>
    <result  column="resTableName"  property="resTableName"  jdbcType="VARCHAR"/>
    <result  column="resId"         property="resId"         jdbcType="VARCHAR"/>
    <result  column="discuss"       property="discuss"       jdbcType="VARCHAR"/>
    <result  column="cTime"         property="CTime"         jdbcType="TIMESTAMP"/>
  </resultMap>

  <!-- 所有列 -->
  <sql id="Base_Column_List">
    id, userId, resTableName, resId, discuss, cTime
  </sql>
  <sql id="Base_Column_List_A">
    a.id, a.userId, a.resTableName, a.resId, a.discuss, a.cTime
  </sql>

  <!-- 条件子句 -->
  <sql id="WhereClauseByEntiey">
    <where>
      <trim prefix="(" suffix=")" prefixOverrides="and">
        <if test="id!=null"> and id=#{id,jdbcType=VARCHAR}</if>
        <if test="userId!=null"> and userId=#{userId,jdbcType=VARCHAR}</if>
        <if test="resTableName!=null"> and resTableName=#{resTableName,jdbcType=VARCHAR}</if>
        <if test="resId!=null"> and resId=#{resId,jdbcType=VARCHAR}</if>
        <if test="discuss!=null"> and discuss=#{discuss,jdbcType=VARCHAR}</if>
        <if test="CTime!=null"> and cTime=#{CTime,jdbcType=TIMESTAMP}</if>
      </trim>
    </where>
  </sql>

  <!-- 获得记录条数-->
  <select id="getCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from wt_Discuss <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
  </select>

  <!-- 获得列表 -->
  <select id="getList" resultMap="discussMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List"/> from wt_Discuss
    <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
    <if test="sortByClause!=null">order by ${sortByClause}</if>
  </select>
  <!-- 获得列表 -->
  <select id="getPubList" resultMap="discussMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List_A"/> from wt_Discuss a
    where exists(select * from wt_ChannelAsset b where a.resTableName=b.assetType and a.resId=b.assetId and b.isValidate=1 and b.flowFlag=2)
    <trim prefix="and (" suffix=")" prefixOverrides="and">
      <if test="id!=null"> and a.id=#{id,jdbcType=VARCHAR}</if>
      <if test="userId!=null"> and a.userId=#{userId,jdbcType=VARCHAR}</if>
      <if test="resTableName!=null"> and a.resTableName=#{resTableName,jdbcType=VARCHAR}</if>
      <if test="resId!=null"> and a.resId=#{resId,jdbcType=VARCHAR}</if>
      <if test="discuss!=null"> and a.discuss=#{discuss,jdbcType=VARCHAR}</if>
      <if test="CTime!=null"> and a.cTime=#{CTime,jdbcType=TIMESTAMP}</if>
    </trim>
    <if test="sortByClause!=null">order by ${sortByClause}</if>
  </select>
  <!-- 获得发布文章的列表 -->
  <select id="getPubArticleList" resultType="java.util.Map" parameterType="java.util.Map">
    select distinct a.resTableName, a.resId from wt_Discuss a, wt_ChannelAsset b
    where a.resTableName=b.assetType and a.resId=b.assetId and flowFlag=2
    <trim prefix="and (" suffix=")" prefixOverrides="and">
      <if test="id!=null"> and a.id=#{id,jdbcType=VARCHAR}</if>
      <if test="userId!=null"> and a.userId=#{userId,jdbcType=VARCHAR}</if>
      <if test="resTableName!=null"> and a.resTableName=#{resTableName,jdbcType=VARCHAR}</if>
      <if test="resId!=null"> and a.resId=#{resId,jdbcType=VARCHAR}</if>
      <if test="discuss!=null"> and a.discuss=#{discuss,jdbcType=VARCHAR}</if>
      <if test="CTime!=null"> and a.cTime=#{CTime,jdbcType=TIMESTAMP}</if>
      <if test="whereClause!=null"> and (${whereClause})</if>
    </trim>
    <if test="sortByClause!=null">order by ${sortByClause}</if>
  </select>
  <!-- 获得文章的列表 -->
  <select id="getArticleList" resultType="java.util.Map" parameterType="java.util.Map">
    select distinct a.resTableName, a.resId from wt_Discuss a
    <where>
    <trim prefix="(" suffix=")" prefixOverrides="and">
      <if test="id!=null"> and a.id=#{id,jdbcType=VARCHAR}</if>
      <if test="userId!=null"> and a.userId=#{userId,jdbcType=VARCHAR}</if>
      <if test="resTableName!=null"> and a.resTableName=#{resTableName,jdbcType=VARCHAR}</if>
      <if test="resId!=null"> and a.resId=#{resId,jdbcType=VARCHAR}</if>
      <if test="discuss!=null"> and a.discuss=#{discuss,jdbcType=VARCHAR}</if>
      <if test="CTime!=null"> and a.cTime=#{CTime,jdbcType=TIMESTAMP}</if>
      <if test="whereClause!=null"> and (${whereClause})</if>
    </trim>
    </where>
    <if test="sortByClause!=null">order by ${sortByClause}</if>
  </select>
  <!-- 获得重复列表 -->
  <select id="getDuplicates" resultMap="discussMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List"/> from wt_Discuss
    <where>
      <trim prefixOverrides="and">
        <if test="userId!=null"> and userId=#{userId,jdbcType=VARCHAR}</if>
        <if test="resTableName!=null"> and resTableName=#{resTableName,jdbcType=VARCHAR}</if>
        <if test="resId!=null"> and resId=#{resId,jdbcType=VARCHAR}</if>
        <if test="discuss!=null"> and discuss=#{discuss,jdbcType=VARCHAR}</if>
      </trim>
    </where>
  </select>

  <!-- 获得一条数据 -->
  <select id="getInfo" resultMap="discussMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List"/> from wt_Discuss <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
  </select>
  <select id="getInfoById" resultMap="discussMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from wt_Discuss where id=#{id,jdbcType=VARCHAR}
  </select>

  <!-- 新增数据 -->
  <insert id="insert" parameterType="java.util.Map">
    insert into wt_Discuss
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id!=null">id,</if>
      <if test="userId!=null">userId,</if>
      <if test="resTableName!=null">resTableName,</if>
      <if test="resId!=null">resId,</if>
      <if test="discuss!=null">discuss,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id!=null">#{id,jdbcType=VARCHAR},</if>
      <if test="userId!=null">#{userId,jdbcType=VARCHAR},</if>
      <if test="resTableName!=null">#{resTableName,jdbcType=VARCHAR},</if>
      <if test="resId!=null">#{resId,jdbcType=VARCHAR},</if>
      <if test="discuss!=null">#{discuss,jdbcType=VARCHAR},</if>
    </trim>
  </insert>

  <!-- 修改 根据主键-->
  <update id="update" parameterType="java.util.Map">
    update wt_Discuss
    <set>
      <if test="userId!=null">userId=#{userId,jdbcType=VARCHAR},</if>
      <if test="resTableName!=null">resTableName=#{resTableName,jdbcType=VARCHAR},</if>
      <if test="resId!=null">resId=#{resId,jdbcType=VARCHAR},</if>
      <if test="discuss!=null">discuss=#{discuss,jdbcType=VARCHAR},</if>
      <if test="CTime=null">cTime=#{CTime,jdbcType=TIMESTAMP},</if>
    </set>
    where id=#{id,jdbcType=VARCHAR}
  </update>

  <!-- 删除数据 -->
  <delete id="delete" parameterType="java.lang.String">
    delete from wt_Discuss where id=#{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByEntity" parameterType="java.util.Map">
    delete from wt_Discuss <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
  </delete>
  <delete id="delArticle" parameterType="java.util.Map">
    delete from wt_Discuss where articleId=#{resId,jdbcType=VARCHAR}
  </delete>
</mapper>