<?xml version="1.0" encoding="UTF-8" ?>

<!-- 我听内容汇总 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WT_CONTENT">
  <select id="searchCata" resultType="java.util.HashMap">
    select * from wt_ResDict_Ref where
    <foreach collection="array" index="index" item="tag" open="" separator="or" close="">
    title like '%${tag}%'
    </foreach>
  </select>
  <select id="searchBc" resultType="java.util.HashMap" parameterType="java.util.Map">
    select a.*, b.bcSource, b.flowURI from wt_Broadcast a
    left join wt_BCLiveFlow b on a.id=b.bcId and b.isMain=1
    where 
    <foreach collection="searchArray" index="index" item="tag" open="" separator="or" close="">
    CONCAT(a.bcTitle, '#S#', a.bcPublisher) like '%${tag}%'
    </foreach>
    <if test="inIds!=null">
    union 
    select c.*, d.bcSource, d.flowURI from wt_Broadcast c
    left join wt_BCLiveFlow d on c.id=d.bcId and d.isMain=1
    where ${orIds}
    </if>
  </select>
  <select id="getBcList" resultType="java.util.HashMap" parameterType="java.util.Map">
    select c.*, d.bcSource, d.flowURI from wt_Broadcast c
    left join wt_BCLiveFlow d on c.id=d.bcId and d.isMain=1
    where ${orIds}
  </select>
  <select id="searchPerson" resultType="java.util.HashMap" parameterType="java.util.Map">
    select * from wt_Person_Ref a, wt_Person b
    where a.personId=b.id and (
    <foreach collection="array" index="index" item="tag" open="" separator="or" close="">
    pName like '%${tag}%'
    </foreach>
    )
  </select>

  <select id="searchMa" resultType="java.util.HashMap" parameterType="java.util.Map"><!-- 可能无用 -->
    select a.*, b.smType, b.maSource, b.playURI from wt_MediaAsset a
    left join wt_MaSource b on a.id=b.maId and b.isMain=1
    where
    <foreach collection="searchArray" index="index" item="tag" open="" separator="or" close="">
    CONCAT(a.maTitle,'#S#',a.maPublisher,'#S#',a.subjectWords,'#S#',a.keyWords,'#S#',a.descn) like '%${tag}%'
    </foreach>
    <if test="inIds!=null">
    union 
    select c.*, d.smType, d.maSource, d.playURI from wt_MediaAsset c
    left join wt_MaSource d on c.id=d.maId and d.isMain=1
    where (${inIds})
    </if>
  </select>
  <select id="getMaList" resultType="java.util.HashMap" parameterType="java.util.Map">
    select c.*, d.smType, d.maSource, d.playURI from wt_MediaAsset c
    left join wt_MaSource d on c.id=d.maId and d.isMain=1
    where (${orIds})
  </select>
  <select id="searchSeqMa" resultType="java.util.HashMap" parameterType="java.util.Map"><!-- 可能无用 -->
    select a.*, case when b.count is null then 0 else b.count end as count from wt_SeqMediaAsset a
    left join (select sid, count(*) count from wt_SeqMA_Ref group by sid) b on a.id=b.sid
    <where>
    <foreach collection="searchArray" index="index" item="tag" open="" separator="or" close="">
    CONCAT(a.smaTitle,'#S#',a.smaPublisher,'#S#',a.subjectWords,'#S#',a.keyWords,'#S#',a.descn) like '%${tag}%'
    </foreach>
    </where>
    <if test="inIds!=null">
    union 
    select c.*, case when d.count is null then 0 else d.count end as count from wt_SeqMediaAsset c
    left join (select sid, count(*) count from wt_SeqMA_Ref group by sid) d on c.id=d.sid
    where (${orIds})
    </if>
  </select>
  <select id="getSeqMaList" parameterType="java.util.Map" resultType="java.util.HashMap">
    select c.*, case when d.count is null then 0 else d.count end as count from wt_SeqMediaAsset c
    left join (select sid, count(*) count from wt_SeqMA_Ref group by sid) d on c.id=d.sid
    where (${orIds})
  </select>

  <!-- 重构 -->
  <select id="refPersonById" parameterType="java.util.Map" resultType="java.util.HashMap">
    select * from wt_Person_Ref a, wt_Person b
    where a.personId=b.id
    <trim prefix="and (" suffix=")" prefixOverrides="or">
    <if test="bcIds!=null">or (${bcIds})</if>
    <if test="maIds!=null">or (${maIds})</if>
    <if test="smaIds!=null">or (${smaIds})</if>
    </trim>
  </select>
  <select id="refPlayCountById" parameterType="java.util.Map" resultType="java.util.HashMap">
    select * from wt_MediaPlayCount a
    <where><trim prefix="" suffix="" prefixOverrides="or">
    <if test="bcIds!=null">or (${bcIds})</if>
    <if test="maIds!=null">or (${maIds})</if>
    <if test="smaIds!=null">or (${smaIds})</if>
    </trim></where>
  </select>
  <select id="playingBc" parameterType="java.util.Map" resultType="java.util.HashMap">
    select * from wt_BCProgramme
    <where><trim prefix="and (" suffix=")" prefixOverrides="and">
    <if test="bcIds!=null">and (${bcIds})</if>
    <if test="weekDay!=null and weekDay!=0"> and weekDay=#{weekDay,jdbcType=INTEGER}</if>
    <if test="sort!=null"> and sort=#{sort,jdbcType=INTEGER}</if>
    <if test="timeStr"> and #{timeStr,jdbcType=VARCHAR} BETWEEN beginTime and endTime</if>
    </trim></where>
    order by bcId, validTime desc
  </select>
  <select id="refCataById" parameterType="java.util.Map" resultType="java.util.HashMap">
    select * from wt_ResDict_Ref a
    <where><trim prefix="" suffix="" prefixOverrides="or">
    <if test="bcIds!=null">or (${bcIds})</if>
    <if test="maIds!=null">or (${maIds})</if>
    <if test="smaIds!=null">or (${smaIds})</if>
    </trim></where>
  </select>
  <select id="getPlayListByIds" parameterType="java.util.Map" resultType="java.util.HashMap"><!-- 可能无用 -->
    select * from wt_MaSource where maId in (${maIds})
  </select>

  <!-- 下面是系列内容的获得 -->
  <select id="getBcById" parameterType="java.lang.String" resultType="java.util.HashMap">
    select a.*, b.bcSource, b.flowURI from wt_Broadcast a
    left join wt_BCLiveFlow b on a.id=b.bcId and b.isMain=1
    where a.id=#{value,jdbcType=VARCHAR}
  </select>
  <select id="getMediaById" parameterType="java.lang.String" resultType="java.util.HashMap">
    select * from wt_MediaAsset where id=#{value,jdbcType=VARCHAR}
  </select>
  <select id="getSmById" parameterType="java.lang.String" resultType="java.util.HashMap">
    select * from wt_SeqMediaAsset where id=#{value,jdbcType=VARCHAR}
  </select>
  <select id="getSmSubMedias" parameterType="java.util.Map" resultType="java.util.HashMap">
    select a.*,b.columnNum from wt_MediaAsset a, wt_SeqMA_Ref b where a.id=b.mId and b.sId=#{sId,jdbcType=VARCHAR}
    <if test="orderByClause!=null"> ${orderByClause}</if>
  </select>
  <!-- 
  <select id="getSmSubMediaList" parameterType="java.util.Map" resultType="java.util.HashMap">
    select a.* from wt_MediaAsset a, wt_SeqMA_Ref b where a.id=b.mId and b.sId=#{sId,jdbcType=VARCHAR}
    <if test="orderByClause!=null"> ${orderByClause}</if>
    <if test="limitByClause!=null"> limit ${limitByClause}</if>
  </select>
  -->
  <select id="getCataListByTypeAndIds" resultType="java.util.HashMap" parameterType="java.util.Map">
    select * from wt_ResDict_Ref a where a.resTableName=#{resTableName,jdbcType=VARCHAR} and (${ids})
  </select>
  <select id="getPersonListByTypeAndIds" resultType="java.util.HashMap" parameterType="java.util.Map">
    select *, b.id perId from wt_Person_Ref a, wt_Person b
    where a.personId=b.id and a.resTableName=#{resTableName,jdbcType=VARCHAR} and (${ids})
  </select>
</mapper>